source https://api.nuget.org/v3/index.json

nuget Logary prerelease
nuget Logary.Adapters.Facade prerelease
nuget Logary.Targets.Mixpanel prerelease
nuget Logary.Targets.ElasticSearch prerelease
nuget Logary.Targets.InfluxDb prerelease
nuget Logary.Targets.OpsGenie prerelease
nuget Logary.Targets.StackDriver prerelease
nuget Logary.Ingestion.HTTP
